{% extends "base_generic.html" %}

{% block content %}
<div class="container">
	<div>
		<h1 class="text-center">PMD World Record Tracker</h1>
		<p>This website was developed by <em><a href="https://github.com/Liversticks">Liversticks</a></em>!</p>
		<p>Number of categories tracked: {{ num_categories }}</p>
		<p>Number of valid categories that contain a time: {{ num_valid_categories }}</p>
	</div>
	<br>
  
  
  {% if list_of_games %}
	{% for game_title in list_of_games %}
		<h2 class="text-center">{{game_title}}</h2>
		<table class="table table-striped table-bordered">
			<thead><tr>
				<th scope="col"><em>Category</em></th>
				<th scope="col"><em>Ruleset</em></th>
				<th scope="col"><em>Time</em></th>
				<th scope="col"><em>Runner</em></th>
			</tr></thead>
		<tbody>
		{% for run in all_runs %}
			<!--Match title and check that run is valid (non-empty)-->
			{% if run.game == game_title %}
				{% if run.runTime != "" %}
					<tr>
						<td>{{ run.category }}</td>
						<td>{{ run.ruleset }}</td>
						<td>{{ run.runTime }}</td>
						<td>
							<a href="https://speedrun.com/user/{{run.playerName}}">{{ run.playerName}}</a>
						</td>
					</tr>
				{% endif %}
			{% endif %}
		</tbody>	
		{% endfor %}
		</table>
		<br>
	{% endfor %}
  {% else %}
	<p>List of games not working.</p>
  {% endif %}
  

</div>
{% endblock %}